[submodule "data/in/towyo"]
	path = data/in/towyo
	url = https://github.com/gunnarvoet/sp-data-archive-towyo
	datalad-id = bae1c087-d1d1-4503-8059-afe3c7dd648a
	datalad-url = https://github.com/gunnarvoet/sp-data-archive-towyo
