[submodule "data/in/towyo"]
	path = data/in/towyo
	url = https://github.com/gunnarvoet/sp-data-archive-towyo
	datalad-id = bae1c087-d1d1-4503-8059-afe3c7dd648a
	datalad-url = https://github.com/gunnarvoet/sp-data-archive-towyo
[submodule "data/in/bathy"]
	path = data/in/bathy
	url = https://github.com/gunnarvoet/sp-data-archive-bathy
	datalad-id = af35625c-3419-48ad-acae-089bb80dcaec
	datalad-url = https://github.com/gunnarvoet/sp-data-archive-bathy
[submodule "data/in/ctd_ladcp"]
	path = data/in/ctd_ladcp
	url = https://github.com/gunnarvoet/sp-data-archive-ctd
	datalad-id = 971063c1-62d6-482e-a151-d012b144f0a5
	datalad-url = https://github.com/gunnarvoet/sp-data-archive-ctd
